<div id="search-component" xmlns="http://www.w3.org/1999/html">
  <label for="search-box">Character Search:</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

  <ul *ngIf="characters" class="search-result">
    <li *ngIf="!characters.length && term.length">
      No results
    </li>
    <li *ngFor="let character of characters">
      <a [routerLink]="[{ outlets: { details: [character.id] } }]">
        <div [innerHTML]="character.name | highlightSearch: term"></div>
      </a>
    </li>
  </ul>
</div>
