@import '../../sass/variables';

.search-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-result {
  position: absolute;
  top: 55px;
  background-color: $lite-color;
  z-index: 1;
  margin-top: 0;
  padding-left: 0;

  & .no-results {
    cursor: auto !important;
    &:hover {
      color: $lite-color;
    }
  }

  li {
    border-bottom: 1px solid $dark-color;
    border-left: 1px solid $dark-color;
    border-right: 1px solid $dark-color;
    width: 195px;
    padding: 5px;
    background-color: $lite-color;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      background-color: $dark-color;
    }

    a {
      color: $dark-color;
      display: block;
      text-decoration: none;

      &:hover {
        color: $lite-color;
      }

      &:active {
        color: $lite-color;
      }
    }
  }
}

