@import '../../sass/variables';

.characters-table {
  padding: 0;
  background-color: $lite-color;

  a, td {
    text-decoration: none;
  }

  td:hover {
    color: $dark-color;
    background-color: $secondary-bg-color;
  }
}





