<h3>List of Characters</h3>
<div class="col-md-4">
  <app-character-search></app-character-search>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="characters">
      <table class="table table-striped characters">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Number Of Episodes</th>
          <th scope="col">Origin</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let character of characters">
          <a class="clickable" [routerLink]="[{ outlets: { details: [character.id] } }]">
            <td class="clickable">
              {{ character.name }}
            </td>
          </a>
          <td>{{ character.gender }}</td>
          <td class="clickable" (click)="openModal(character.id)">
            {{ character.numberOfEpisodes | number }}
          </td>
          <td>{{ character.origin }}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          [maxSize]="5"
          [boundaryLinks]="true"
          (pageChange)="onPageChange(page)"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <router-outlet name="details"></router-outlet>
  </div>
</div>
