@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

p {
  margin: 0 0;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.clickable {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
}

.clickable:hover {
  color: #607D8B;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.highlighted {
  color: #369;
  font-weight: bold;
}
