<div class="alert alert-danger" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div *ngIf="isLoading" class="card text-center character-not-selected">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!character" class="card text-center character-not-selected">
  <p>Please select a character</p>
</div>
<article *ngIf="character" class="card character-details">
  <img src="{{character.image}}" class="card-img-top" alt="character-image">
  <div class="card-body">
    <h5 class="card-title">{{character.name | uppercase}}</h5>
    <div class="d-flex align-items-start">
      <div class="p-2">
        <i *ngIf="(character.status ==='Alive'); else dead" class="fas fa-heart"></i>
        <ng-template #dead><i class="fas fa-skull"></i></ng-template>
        <span class="card-text">&nbsp;{{character.status}}</span>
      </div>
      <div class="p-2">
        <i *ngIf="(character.gender === 'Male'); else female" class="fas fa-mars"></i>
        <ng-template #female><i class="fas fa-venus"></i></ng-template>
        <span class="card-text">&nbsp;{{character.gender}}</span></div>
    </div>
    <div class="p-2">
      <i class="fas fa-globe"></i>
      <span>&nbsp;{{character.origin}}</span>
    </div>
    <div class="p-2">
        <span class="card-text clickable" (click)="openModal(character.id)">
          {{ character.numberOfEpisodes}}&nbsp;episodes
        </span>
    </div>
  </div>
</article>
