@import './../../styles';

.character-not-selected {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.character-card {
  display: flex;
  width: 100%;
  background-color: $lite-color;
}

.character-image {
  width: 100%;
}
.character-details {
  margin-bottom: 1rem;
}

