<div class="alert alert-danger" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="character">
  <h3>{{character.name | uppercase}}</h3>
  <img src="{{character.image}}"/>
  <p>{{character.status}}</p>
  <p>{{character.gender}}</p>
  <p>{{character.origin}}</p>
  <p class="clickable" (click)="openModal(character.id)">
    {{ character.numberOfEpisodes | number }}
  </p>
  <button (click)="goBack()">go back</button>
</div>
